@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --azul: #005ca8;
  --azul-escuro: #004681;
  --cor-bg: #efefef;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: var(--cor-bg);
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: var(--azul);
}

.menu-ul {
  display: flex;
  justify-content: space-between;
}

.menu-item {
  list-style: none;
}

.menu-item i.bi {
  font-size: 60px;
  color: white;
}

main {
  width: 100%;
}

main div {
  width: 25%;
}

main a p {
  font-family: 100px;
}

.titulo-tabela {
  width: 100%;
  background-color: var(--azul-escuro);
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.titulo-tabela i {
  font-size: 50px;
  margin-right: 20px;
}

#opcoes {
  display: flex;
  justify-content: space-around;
}

.opcoes-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.opcoes-item a i {
  font-size: 90px;
  color: var(--azul);
}

.opcoes-item a p {
  color: var(--azul);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.formulario-cadastro {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: start;
}

.formulario-cadastro span {
  display: block;
}
